body {
    background-image: url("../images/cork-board.png");
}



h1 {
    color:#4aaaa5; 
    height: 200px;
    width: 50%;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.pic {
    float: left;
}

ul {
    display: inline-block;
    float: right;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

li{
    list-style: none ;
    display: inline;
}

#top{
    margin:0px;
    padding:0px;
    width:100%;
    }
    #top h1{
    display:inline;
    }
    #top ul li{
    display:inline;
    }
#top h1{
    color: white;
    background-color: #4aaaa5;
}

#meat {
  width: 960px;
  padding: 10px;
  border: 5px solid white;
  margin: 0;
  background-image: url("/assets/images/cork-board.png");
}