body {
    background-image: url("../images/cork-board.png");
}



h1 {
    color:#4aaaa5; 
    height: 100px;
    width: 15%;
    font-family: 'Georgia', Times, Times New Roman, serif;
    display: inline-block;

}

#meat img {
    float: left;
}

.nav {
    display: inline-block;
    float: right;
    list-style: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}

#meat .aboutme {
    text-align: left;
    display: inline;

}



#top{
    margin-left: 240px;
    margin-right: 240px;
    padding:0px;
    background-color: white;
    
    }

#top h1{
    width: 960px;
    padding-bottom: auto;
    margin-left: auto;
    margin-right: 240px;
    color: white;
    background-color: #4aaaa5;
    text-align: center;
    display: inline;
    overflow: hidden;

}
#top ul li{
    display:inline;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: black;
    }

#meat {
  width: 960px;
  padding-top: auto;
  color: black
  border: 0px solid white;
  background-color: white ;
  margin-left: 240px;
  margin-right: 240px;
  overflow: hidden;
  
  
    }

    hr {
        width: 960px;
        height: 1px;
        background-color:black;
        margin-right: auto;
        margin-left: auto;
        
        }